<html>
  <head>
    <title>All Tweets</title>
  </head>
  <body>
    <h2>All Tweets</h2>
    <% data.forEach(tweet => { %>
    <div style="display: flex; gap: 10px">
      <div style="padding: 10px; width: 100px"><%= tweet.title %></div>
      <div style="padding: 10px; width: 200px"><%= tweet.body %></div>
      <div style="padding: 10px"><%= tweet.user_id %></div>
      <!-- <div style="padding: 10px">
        <a href="">Tweets</a>
      </div> -->
    </div>
    <% }) %>
  </body>
</html>
